body {
  background-color: lightgrey
}

.h6font {
  font-weight: bold;
}

.parallax-container {
  height: 500px;
}

#namelogo {
  margin-left: .25em;
}

#contactlogo {
  width: 2.5em;
  height: 2.5em;
}
