body {
  background-color: lightgrey
}

.h6font {
  font-weight: bold;
}

#parallax-container {
  height: 700px;
}

#namelogo {
  margin-left: .25em;
}

#contactlogo {
  width: 1.5em;
  height: 1.5em;
}

#navbar {
  background-color: transparent;
  z-index: 100;
  transition: background-color 1s ease 0s;
}
